################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/programManager/bin/Debug/netcoreapp2.2
/src/programManager/obj
/src/ProcessManager.Core/bin/Debug/netstandard2.0
/src/ProcessManager.Core/obj
*.user
/src/core/bin/Debug/netstandard2.0
/src/core/obj
/src/processHost/bin/Debug/netcoreapp2.2
/src/processHost/obj
