################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/programManager/bin/Debug/netcoreapp2.2
/src/programManager/obj
